.green {
    color:green;
}

.red {
    color:red;
}
.verygood {
    color: #1E8F4F;
}

.good {
    color: #2FCC71;
}

.middle {
    color:#FEC901;
}

.bad {
    color: #F07E1B;
}

.verybad {
    color: #E72C1B;
}