/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

@font-face {
  font-family: 'Yeseva One', cursive;
  src: url("../assets/YesevaOne-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url("../assets/Montserrat-VariableFont_wght.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* Variables */
:root {
    --font-title: 'Yeseva One', cursive;
    --font-text: 'Montserrat', sans-serif;
    --primary-color: #A9D4C7;
    --secondary-color: #EDE2D6;
    --accent-color: #B6C5DB;
    --background-color: #FCFCFC;
    --optionnal-color: #E5E5E5;
    --font-color: #252525;
}

